
<p class="lead mb-3">Welcome {{ name }} </p>
 
 <a href="/users/logout" class="btn btn-secondary">Logout</a>

 <a href="dogparks" class="btn btn-outline-success mb-4">view dog parks</a>

<div class="container my-3">
        <div 
            id="map" 
            style="width: 100%; height: 650px; border-radius: 5px;">

        </div>
        <div id="menu">
            <input
            id="dark-v10"
            type="radio"
            name="rtoggle"
            value="dark"
            checked="checked"
            />
            <label for="dark">dark</label>
            <input id="light-v10" type="radio" name="rtoggle" value="light" />
            <label for="light">light</label>
            <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors" />
            <label for="outdoors">outdoors</label>
            <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
            <label for="satellite">satellite</label>
            </div>
    </div>