
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome to OutSpots !</p> 
{{!-- cant figure out how to display the name {{ body.name }} ?? --}}
<div id="myMapbox">here is the map :</div>

{{!-- //insert map here  --}}
<br><br><br><br><br><br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<script src="mapbox.js"></script>