<div class="row mt-5"><h1 class="text-center mb-3 row mt-5">Check your mail</h1>
<h5 class="row mt-5">We've send a message to {{email}} with a link to activate your account.</h5>
<h3 class="row mt-5">Didn't get the email?</h3>
<h5 >If you don’t see an email from us within a few minutes, a few things could have happened:</h5>
<h5><ul>
  <li>The email is in your spam folder. (Sometimes things get lost in there.)</li>
  <li>The email address you entered had a mistake or typo. (Happens to the best of us.)</li>
  <li>You accidentally gave us another email address. (Usually a work or personal one instead of the one you meant.)</li>
  <li>We can’t deliver the email to this address. (Usually because of corporate firewalls or filtering.)</li>
</ul></h5>
<a href='/register' class="lead mt-4">Re-enter your email and try again</a></div>