<h1 class="display-4 text-center"> <i class="fas fa-dog"></i>Dog parks</h1>

 <a href="dogparks/new" class="btn btn-outline-success mb-4">add dog park</a>
<ul>
  {{#each dogparksData}}
  <li>{{this.name}}//{{this.location}}</li>
  {{/each}}
</ul>