    <div class="row">
        <h1>Create a New Dogpark</h1>
        <div>
            <form action="/dogparks" method="POST">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name of the park">
                </div>
                <div>
                    <label for="facilities">Facilities</label>
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location" placeholder="Address of the park">
                </div>
                <div>
                    <button type="submit"> Submit!</button>
                </div>
            </form>
            <a href="/dogparks">Back to dogparks</a>
        </div>
    </div>
