<h1 class="display-4 text-center"><a href="/dashboard"><i class="fas fa-dog"></i></a>New Dog Park</h1>

<form action="/dogparks/new" method="POST">
    <div class="form-group">
        <label for="name">Park Name</label>
        <input type="text" class="form-control" name="name" placeholder="e.g doggy park">
    </div>
    <div class="form-group">
        <label for="location">Address</label>
        <input type="text" class="form-control" name="location" placeholder="street zipcode city">
    </div>
    <div>
        <p>Amenities:</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="waterSupply">
            <label class="form-check-label" for="waterSupply">
                Water Supply
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="seatingSpaces">
            <label class="form-check-label" for="seatingSpaces">
                Seating Spaces
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="smallDogsArea">
            <label class="form-check-label" for="smallDogsArea">
                Smaller Dogs Area
            </label>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="isFenced">
        <label class="form-check-label" for="isFenced">
            Fanced
        </label>
    </div>
    <form method="POST">
        <div class="form-group">
            <label for="ground">Ground Type</label>
            <input type="text" class="form-control" name="ground" required placeholder="e.g dirt, sand, grass">
        </div>
        <div class="form-group">
            <label for="comments">Additional Comments</label>
            <textarea class="form-control" name="comments" rows="3"></textarea>
        </div>
        <div>
            <button class="btn btn-outline-secondary btn-outline-success" type="submit"> Add!</button>
        </div>
    </form>


    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#"><a href="/dogparks"><i class="fas fa-dog fa-2x"></i></a>
        </li>
    </ul>